NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_PROJECT_ID=titvhysupzvhqrjmliye
NEXT_PUBLIC_SUPABASE_URL=https://titvhysupzvhqrjmliye.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key

SUPABASE_SECRET_KEY=your-server-only-supabase-secret-key
